.refundPolicy{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.refund-container{
    max-width: 1200px;
    margin: auto;
}

.refund-container h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.refund-container p{
    margin-bottom: 1rem;
}